<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center mb-3">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">ACTUALIZACIÓN DEL USUARIO</h2>
				<p class="mb-4 mb-md-5">
					Modifica los datos y guarda cambios
				</p>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Actualización de datos</span>
						</h4>
					</div>
					<div class="card-body ">
						<form class="mt-4" ngNativeValidate [formGroup]="actualizarUsuarioForm"
							(ngSubmit)="modificarUsuario()" autocomplete="off">
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2 text-center">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Tipo documento"
											name="tipoDoc" id="tipoDoc" formControlName="tipoDoc" required>
											<mat-option *ngFor="let tipo of tipoDocumentosArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="actualizarUsuarioForm.get('tipoDoc').hasError('required') && actualizarUsuarioForm.get('tipoDoc').touched">
											El campo tipo de documento es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2 text-center">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="documento" placeholder="Documento"
											name="documento" id="documento" type="text" required>
										<mat-error
											*ngIf="actualizarUsuarioForm.get('documento').hasError('required') && actualizarUsuarioForm.get('documento').touched">
											El campo documento es <strong>requerido</strong>
										</mat-error>
										<mat-error *ngIf="actualizarUsuarioForm.get('documento').hasError('pattern')">
											El documento debe tener el siguiente formato <strong>Ejm:
												1085100100</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2 text-center">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="nombres" placeholder="Nombres" name="nombres"
											id="nombres" type="text" required>
										<mat-error
											*ngIf="actualizarUsuarioForm.get('nombres').hasError('required') && actualizarUsuarioForm.get('nombres').touched">
											El campo nombres es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2 text-center">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="apellidos" placeholder="Apellidos"
											name="apellidos" id="apellidos" type="text" required>
										<mat-error
											*ngIf="actualizarUsuarioForm.get('apellidos').hasError('required') && actualizarUsuarioForm.get('apellidos').touched">
											El campo apellidos es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center" *ngIf="ocultarEdicionCampos">
								<div class="col-sm-5 mb-2 text-center">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="usuario" placeholder="Usuario" name="usuario"
											id="usuario" type="text" required>
										<mat-error
											*ngIf="actualizarUsuarioForm.get('usuario').hasError('required') && actualizarUsuarioForm.get('usuario').touched">
											El campo usuario es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2 text-center">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Roles" name="rol" id="rol"
											formControlName="rol" required>
											<mat-option *ngFor="let item of rolesExistentes" [value]="item.valor">
												{{ item.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="actualizarUsuarioForm.get('rol').hasError('required')  && actualizarUsuarioForm.get('rol').touched">
											El campo Rol es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center" *ngIf="ocultarEdicionCampos">
								<div class="col-sm-5 mb-2 text-center">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Estado" name="estado"
											id="estado" formControlName="estado" required>
											<mat-option *ngFor="let item of estadosArray" [value]="item.valor">
												{{ item.nombre }}
											</mat-option>
										</mat-select>
										<mat-error
											*ngIf="actualizarUsuarioForm.get('estado').hasError('required') && actualizarUsuarioForm.get('estado').touched">
											El campo estado es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2 text-center">
									<mat-form-field>
										<input matInput placeholder="Fecha de expedición" [matDatepicker]="picker1"
											(click)="picker1.open()" formControlName="fechaExp" name="fechaExp"
											id="fechaExp" required>
										<mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
										<mat-datepicker #picker1></mat-datepicker>
										<mat-error
											*ngIf="actualizarUsuarioForm.get('fechaExp').hasError('required') && actualizarUsuarioForm.get('fechaExp').touched">
											El campo fecha de expedición es <strong>requerida</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2 text-center">
									<mat-form-field class="example-full-width">
										<input matInput formControlName="correo" placeholder="Correo" name="correo" type="email" required>
										<mat-error
											*ngIf="actualizarUsuarioForm.get('correo').hasError('required') && actualizarUsuarioForm.get('correo').touched">
											El campo correo es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2"></div>
							</div>
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button [disabled]="actualizarUsuarioForm.invalid"
										class="btn btn-fill btn-primary">
										<i class="material-icons">edit</i> Guardar
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>