.token-black {
    display   : block;
    width     : 100%;
    height    : 100vh;
    position  : absolute;
    background: rgba(0, 0, 0, .92) !important;
    color     : #000 !important;
    z-index   : 1059;
}

.table-optimus {
    >thead>tr>th {
        background    : #222725;
        color         : #fff;
        font-size     : 0.9em;
        text-transform: uppercase;
    }
}

.pointer {
    cursor: pointer;
}

.card-optimus {
    .card-header {
        background: #222725;
        margin-top: -4px;

        h4 {
            color: white;
        }
    }
}

.card-optimus-silver {
    .card-header {
        background: #5B615E;
        margin-top: -4px;

        h4 {
            color: white;
        }
    }
}

.bold {
    font-weight: 400;
}

.mat-step-header .mat-step-icon-selected {
    background: #222725;
}

.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background: #222725;
}

.mat-expansion-panel-header-description {
    flex-grow: 0;
}

/* Encabezado del modal */
.modal-dialog .modal-header {
    background-color: #222725 !important;
    color           : #fff !important;
}

.mat-option:hover,
.mat-option:active {
    background-color: #222725 !important;
    box-shadow      : 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(93, 89, 94, 0.4);
}

.mat-option.mat-selected:not(.mat-option-multiple) {
    background-color: #222725 !important;
    box-shadow      : 0 4px 20px 0px rgba(0, 0, 0, 0.14), 0 7px 10px -5px rgba(93, 89, 94, 0.4);
}

.mat-snack-bar-container {
    .mat-simple-snackbar {
        span {
            margin: 0 auto;
        }

        .mat-simple-snackbar-action {
            color: #fff !important;
        }
    }
}

/* Boton personalizado */
.color-icono .material-icons {
    padding      : 13px;
    border-radius: 10px;
    background   : linear-gradient(60deg, #899878, #899878);
    color        : #fff;
}

.dropdown-menu .dropdown-item:focus,
.dropdown-menu .dropdown-item:hover,
.dropdown-menu a:active,
.dropdown-menu a:focus,
.dropdown-menu a:hover {
    box-shadow      : 0 4px 20px 0 rgba(0, 0, 0, .14), 0 7px 10px -5px rgba(63, 81, 181, .4);
    background-color: #222725;
    color           : #fff;
}

.font-size-icono {
    font-size: 3em;
}

.estiloPersonalizado {
    .afu-select-btn {
        background: #222725 !important;
        padding: 15px !important;
    }
    .afu-progress-bar {
        height: 20px;
        width: 100%;
    }
    .afu-upload-status {
        font-size: 1em !important;
    }
}