<app-loading *ngIf="loading"></app-loading>

<div class="main-content">
	<div class="container">
		<div class="row justify-content-md-center">
			<div class="col-md-6">
				<div class="card card-profile">
					<div class="card-avatar">
						<a href="#pablo">
							<img class="img" src="./assets/img/faces/avatar.png" />
						</a>
					</div>
					<div class="card-body">
						<h6 class="card-category text-gray">{{infoUsuario.rol}}</h6>
						<h4 class="card-title"> {{dataUsuario?.nombres}} {{dataUsuario?.apellidos}} </h4>
						<form ngNativeValidate #passForm="ngForm" (ngSubmit)="cambiarContrasenia(passForm)" class="form" *ngIf="cambiar">
							<div class="container mt-5">
								<hr>
								<h3>Actualizar Contraseña</h3>
								<hr>
								<div class="row justify-content-md-center">
									<div class="col-md-8">
										<mat-form-field>
											<input matInput placeholder="Contraseña Actual" [type]="hide ? 'password' : 'text'" name="actual" #actual="ngModel" [(ngModel)]="modelContrasenia.actual" required>
											<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
										</mat-form-field>
									</div>
								</div>
								<div class="row justify-content-md-center">
									<div class="col-md-8">
										<mat-form-field>
											<input matInput placeholder="Nueva Contraseña" [type]="hide ? 'password' : 'text'" name="nueva" #nueva="ngModel" [(ngModel)]="modelContrasenia.nueva" required>
											<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
										</mat-form-field>
									</div>
								</div>
								<div class="row justify-content-md-center">
									<div class="col-md-8">
										<mat-form-field>
											<input matInput placeholder="Repetir Contraseña" [type]="hide ? 'password' : 'text'" name="rNueva" #rNueva="ngModel" [(ngModel)]="modelContrasenia.rNueva" required>
											<mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
										</mat-form-field>
									</div>
								</div>
							</div>
							<button type="submit" class="btn btn-optimus-black">Cambiar Contraseña</button>
						</form>
						<button type="button" class="btn btn-optimus-black" *ngIf="!cambiar" (click)="cambiarPass()">Cambiar Contraseña</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>