<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid pt-0">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-8">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Asignar permisos a roles</span>
						</h4>
					</div>
					<div class="row justify-content-center mt-4 text-center">
						<div class="col-md-10 text-center mx-3">
							<p class="text-center text-silver d-flex">
								<span class="material-icons p-1 ml-auto text-silver" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">(*) Campos requeridos</span>
							</p>
						</div>
					</div>
					<form ngNativeValidate [formGroup]="crearRolPermisoForm" (ngSubmit)="onSubmitAsignarPermisoRol()"
						autocomplete="off" action="">
						<div class="card-body m-2">
							<div class="row justify-content-center">
								<div class="col-sm-6">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Roles" name="rol"
											formControlName="rol" required>
											<mat-option *ngFor="let item of rolesExistentes" [value]="item.id">
												{{ item.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="crearRolPermisoForm.get('rol').hasError('required')">
											El campo Rol es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center mt-3">
								<div class="col-sm-10">
									<div id="accordion" role="tablist">
										<div class="card-collapse card-optimus m-0">
											<div class="card-header pb-0 pt-2" role="tab" id="headingOne">
												<h4 class="mx-4">
													<a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
														aria-controls="collapseOne" class="collapsed text-white">
														PERMISOS CRM
														<i class="material-icons">keyboard_arrow_down</i>
													</a>
												</h4>
											</div>
											<div id="collapseOne" class="collapse" role="tabpanel"
												aria-labelledby="headingOne" data-parent="#accordion">
												<div class="card-body">
													<div class="container my-2">
														<div class="border rounded p-3 bloque-permisos">

															<div class="row justify-content-start">
																<div class="col-md-10">
																	<div *ngFor="let item of permisosCrm; let i=index">
																		<label class="d-flex">
																			<input formArrayName="permisoCrm"
																				type="checkbox" [value]="item.id"
																				(change)="onCheckboxChangeCrm($event)"
																				class="p-1">
																			<i
																				class="material-icons p-1 my-1 font-size-icono">{{item.icono}}</i>
																			<span
																				class="py-1 my-2">{{item.titulo}}</span>
																		</label>
																	</div>
																	<mat-error *ngIf="errorCheck">
																		Este campo es <strong>requerido</strong>
																	</mat-error>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="card-collapse card-optimus m-0">
											<div class="card-header pb-0 pt-2" role="tab" id="headingTwo">
												<h4 class="mx-4">
													<a data-toggle="collapse" href="#collapseTwo" aria-expanded="false"
														aria-controls="collapseTwo" class="collapsed text-white">
														PERMISOS ERP
														<i class="material-icons">keyboard_arrow_down</i>
													</a>
												</h4>
											</div>
											<div id="collapseTwo" class="collapse" role="tabpanel"
												aria-labelledby="headingTwo" data-parent="#accordion">
												<div class="card-body">
													<div class="container my-2">
														<div class="border rounded p-3 bloque-permisos">

															<div class="row justify-content-start">
																<div class="col-md-10">
																	<div *ngFor="let item of permisosErp; let i=index">
																		<label class="d-flex">
																			<input formArrayName="permisoErp"
																				type="checkbox" [value]="item.id"
																				(change)="onCheckboxChangeErp($event)"
																				class="p-1">
																			<i class="material-icons p-1 my-1 font-size-icono">{{item.icono}}</i>
																			<span
																				class="py-1 my-2">{{item.titulo}}</span>
																		</label>
																	</div>
																	<mat-error *ngIf="errorCheck">
																		Este campo es <strong>requerido</strong>
																	</mat-error>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

								</div>
							</div>

						</div>
						<div class="card-footer">
							<div class="container">
								<div class="row justify-content-center text-center">
									<div class="col-md-4">
										<button mat-raised-button [disabled]="errorCheck && crearRolPermisoForm.invalid" type="submit"
											class="btn btn-fill btn-optimus-black"> Guardar </button>
									</div>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">LISTA DE ROLES CON SUS PERMISOS</h2>
				<!--<p class="mb-4 mb-md-5">Listado de permisos asignados a roles</p>-->
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-center">{{row?.rol}}</td>
											<td class="text-left">{{row?.permisoTitulo}}</td>
											<td class="text-left">{{row?.permisoUrl}}</td>
											<td class="text-center">{{row?.permisoPosicion}}</td>
											<td class="text-center">{{row?.permisoSistema}}</td>
											<td class="text-center">{{row?.estado.nombre}}</td>
											<td class="text-center" class="text-center">
												<button class="btn btn-link btn-optimus-green btn-just-icon edit"
													(click)="editarPermisos(row)" data-toggle="modal">
													<i class="material-icons">edit</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="8" class="text-center">
												<ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'" (click)="listarRolesPermisos(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarRolesPermisos(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarRolesPermisos(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarRolesPermisos(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
	</div>
</div>

<!-- Modal modificar permisos para rol -->
<div class="modal fade bg-modal" id="modalActualizar" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div>
				<!-- Modificar permisos para rol -->
				<div class="modal-header color-header">
					<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar Permisos del rol</h3>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form ngNativeValidate [formGroup]="actualizarPermisoRolForm"
						(ngSubmit)="onSubmitActualizarPermisoRol()" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center">
								<div class="col-sm-6 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Estado" name="estado"
											formControlName="estado" required>
											<mat-option *ngFor="let tipo of estadoArray" [value]="tipo.valor">
												{{ tipo.nombre }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="actualizarPermisoRolForm.get('estado').hasError('required')">
											El campo estado es <strong>requerido</strong></mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button [disabled]="actualizarPermisoRolForm.invalid"
										class="btn btn-fill btn-optimus-black">Guardar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal modificar permisos para rol -->