/* Estilos paginación  */
/* .check-group {
	display: flex;
	flex-wrap: wrap;
	margin: 15px 0;
}

.check-button {
	margin: 15px;
} */

.font-size-icono {
	font-size: 2.1em;
}

.bloque-permisos {
	border-color: #ddd; 
	overflow-y: scroll;
  	scroll-behavior: smooth;
	height: 40vh;
}