<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid pt-0">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Crear Permisos Menú</span>
						</h4>
					</div>
					<div class="row justify-content-center mt-4 text-center">
						<div class="col-md-10 text-center mx-3">
							<p class="text-center text-silver d-flex">
								<span class="material-icons p-1 ml-auto text-silver" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">(*) Campos requeridos</span>
							</p>
						</div>
					</div>
					<form ngNativeValidate [formGroup]="crearPermisoForm" (ngSubmit)="onSubmitPermiso()"
						autocomplete="off" action="">
						<div class="card-body m-2">
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Nombre permiso" type="text"
											formControlName="titulo" name="titulo" required>
										<mat-error *ngIf="crearPermisoForm.get('titulo').hasError('required') && crearPermisoForm.get('titulo').touched">
											El campo Nombre Permiso es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Url" type="text" name="url" formControlName="url"
											required>
										<mat-error *ngIf="crearPermisoForm.get('url').hasError('required') && crearPermisoForm.get('url').touched">
											El campo url es <strong>requerido</strong>
										</mat-error>
										<mat-error *ngIf="crearPermisoForm.get('url').hasError('pattern') && crearPermisoForm.get('url').touched">
											La url debe tener el siguiente formato <strong>Ejm: ruta-ruta</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<input matInput placeholder="Icono" type="text" name="icono" id="icono"
											formControlName="icono" required>
										<mat-error *ngIf="crearPermisoForm.get('icono').hasError('required') && crearPermisoForm.get('icono').touched">
											El campo Icono es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
								<div class="col-sm-5 mb-2">
									<mat-form-field>
										<mat-select [compareWith]="compararDato" placeholder="Posición del menú"
											name="permisoId" formControlName="posicion" required>
											<mat-option *ngFor="let item of permisosExistentes" [value]="item.id">
												{{ item.titulo }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="crearPermisoForm.get('posicion').hasError('required') && crearPermisoForm.get('posicion').touched">
											El posición es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
							<div class="row justify-content-center">
								<div class="col-sm-5 mb-2">
									<mat-form-field class="example-full-width">
										<mat-select [compareWith]="compararDato" placeholder="Sistema" name="sistema"
											formControlName="sistema" required>
											<mat-option *ngFor="let item of sistemaArray" [value]="item">
												{{ item }}
											</mat-option>
										</mat-select>
										<mat-error *ngIf="crearPermisoForm.get('sistema').hasError('required') && crearPermisoForm.get('sistema').touched">
											El campo sistema es <strong>requerido</strong>
										</mat-error>
									</mat-form-field>
								</div>
							</div>
						</div>
						<div class="card-footer">
							<div class="container">
								<div class="row justify-content-center text-center">
									<div class="col-md-6 my-3">
										<button mat-raised-button [disabled]="crearPermisoForm.invalid" type="submit"
											class="btn btn-fill btn-optimus-black"> Guardar </button>
									</div>
								</div>
							</div>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
</div>