// Bootstrap brand color customization


/*     brand Colors              */

$brand-primary:              $indigo-500 !default;
$brand-info:                 $cyan-500 !default;
$brand-success:              $green-500 !default;
$brand-warning:              $orange-500 !default;
$brand-danger:               $red-500 !default;
$brand-rose:                 $pink-500 !default;
$brand-inverse:              $black-color !default;

/* brand Colors Chevrolet */

$brand-white:               $white !default;
$brand-black:               $black-500 !default;
$brand-gray-11:             $gray-11-500 !default;
$brand-gray-7:              $gray-7-500 !default;
$brand-gold:                $gold-500 !default;


$brand-optimus-white:               $optimus-white-500 !default;
$brand-optimus-black:               $optimus-black-500 !default;
$brand-optimus-green:               $optimus-green-500 !default;
$brand-optimus-yellow:              $optimus-yellow-500 !default;
$brand-optimus-silver:              $optimus-silver-500 !default;
