<app-loading *ngIf="loading"></app-loading>
<div class="wrapper wrapper-full-page">
	<div class="page-header login-page header-filter" filter-color="black"
		style="background-image: url('./assets/img/login-bg.jpg'); background-size: cover; background-position: top center;">
		<!--	 you can change the color of the filter page using: data-color="blue | purple | green | orange | red | rose " -->
		<div class="container">
			<div class="row">
				<div class="col-lg-5 col-md-6 col-sm-8 ml-auto mr-auto">
					<form ngNativeValidate #loginForm="ngForm" (ngSubmit)="iniciarSesion(loginForm)" class="form"
						method="" action="">
						<div class="card card-login animate__animated animate__pulse">
							<div class="card-header card-header-rose text-center">
								<h4 class="card-title">Iniciar Sesión</h4>
								<div class="social-line">
									<a href="#" class="btn btn-just-icon btn-link btn-white">
										<i class="fa fa-handshake-o" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn btn-just-icon btn-link btn-white">
										<i class="fa fa-comments" aria-hidden="true"></i>
									</a>
									<a href="#" class="btn btn-just-icon btn-link btn-white">
										<i class="fa fa-pie-chart" aria-hidden="true"></i>
									</a>
								</div>
							</div>
							<div class="card-body ">
								<!-- <p class="card-description text-center">Por favor ingrese su usuario y contraseña</p> -->
								<span class="bmd-form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="material-icons">face</i>
											</span>
										</div>
										<input type="text" class="form-control" placeholder="Nombre de usuario"
											name="usuario" #usuario="ngModel" [(ngModel)]="login.usuario" required>
									</div>
								</span>
								<span class="bmd-form-group">
									<div class="input-group">
										<span class="input-group-text">
											<span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
										</span>
										<small class="text-danger" *ngIf="!usuario.valid && usuario.touched">El nombre
											de usuario no es <strong>válido</strong></small>
									</div>
								</span>
								<span class="bmd-form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<span class="input-group-text">
												<i class="material-icons">lock_outline</i>
											</span>
										</div>
										<input [type]="hide ? 'password' : 'text'" name="password" class="form-control"
											placeholder="Contraseña" name="password" #password="ngModel"
											[(ngModel)]="login.password" required>
										<mat-icon style="line-height: 3;" matSuffix (click)="hide = !hide">
											{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
									</div>
								</span>
								<span class="bmd-form-group">
									<div class="input-group">
										<span class="input-group-text">
											<span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
										</span>
										<small class="text-danger" *ngIf="!password.valid && password.touched">El campo
											contraseña es <strong>requerido</strong></small>
									</div>
								</span>

							</div>

							<p class=" text-center">
								<span>¿No tiene cuenta? <a routerLink="/registrarse">Registrarse</a> </span>
							</p>

							<div class="card-footer justify-content-center">
								<button type="submit" class="btn btn-primary btn-lg"
									[disabled]="loginForm.invalid">Entrar</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer class="footer ">
			<div class="container">
				<div class="copyright pull-left">
					&copy; {{test | date: 'yyyy'}}, Desarrollado por: <i class="material-icons">verified</i> Development
				</div>
				<div class="copyright pull-right">
					<i class="material-icons">biotech</i> {{version}}
				</div>
			</div>
		</footer>
	</div>
</div>