<nav #navbar class="navbar navbar-expand-lg navbar-transparent navbar-absolute">
	<div class="container-fluid">
		<div class="navbar-wrapper">
			<div class="navbar-minimize">
				<button mat-raised-button (click)="minimizeSidebar()"
					class="btn btn-just-icon btn-white btn-fab btn-round">
					<i class="material-icons text_align-center visible-on-sidebar-regular">more_vert</i>
					<i class="material-icons design_bullet-list-67 visible-on-sidebar-mini">view_list</i>
				</button>
			</div>
			<a class="navbar-brand" href="{{getPath()}}"> {{getTitle()}}</a>
		</div>
		<button mat-button class="navbar-toggler btn-no-ripple" type="button" (click)="sidebarToggle()">
			<span class="sr-only">Toggle navigation</span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
			<span class="navbar-toggler-icon icon-bar"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end" id="navigation">
			<ul class="navbar-nav">
				
				<li class="nav-item" *ngIf="testMode">
					<a class="nav-link" [routerLink]="">
						<i class="material-icons text-danger">science</i>
						<span class="text-danger"> TEST MODE</span>
						<p><span class="d-lg-none d-md-block">TEST MODE</span></p>
					</a>
				</li>
				
				<li class="nav-item dropdown">
					<a class="nav-link" href="#" d="navbarDropdownMenuLink3" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">
						<i class="material-icons">person</i>
						<p><span class="d-lg-none d-md-block"> Config</span></p>
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink3">
						<a class="dropdown-item" (click)="_usuarioService.cerrarSesion()">
							<i class="material-icons">exit_to_app</i> Cerrar Sesión
						</a>
					</div>
				</li>
			</ul>
		</div>
	</div>
</nav>

<app-loading-sistema *ngIf="cargaLoading"></app-loading-sistema>