<div class="logo">
	<a class="simple-text logo-mini">
		<div class="logo-img">
			<img src="{{urlImg}}icono_auto.png" />
		</div>
	</a>
	<a routerLink="/dashboard" class="simple-text logo-normal">
		{{nombreSistema}} {{nombreEmpresa}}
	</a>
</div>
<div class="sidebar-wrapper">
	<div class="user">
		<div class="photo">
			<img src="{{urlImg}}faces/avatar.png" />
		</div>
		<div class="user-info">
			<a data-toggle="collapse" href="#collapseExample" class="collapsed">
				<span class="text-break">
					{{ nombres }} {{ apellidos }}
					<b class="caret"></b>
				</span>
			</a>
			<div class="collapse" id="collapseExample">
				<ul class="nav">
					<!-- <li class="nav-item">
						<a [routerLink]="['/mi-cuenta']" class="nav-link">
							<span class="sidebar-mini">MP</span>
							<span class="sidebar-normal">Mi Perfil</span>
						</a>
					</li> -->
					<li class="nav-item">
						<a class="nav-link" style="cursor: pointer;" (click)="_usuarioService.cerrarSesion()">
							<span class="sidebar-mini"><i class="material-icons">exit_to_app</i></span>
							<span class="sidebar-normal">Cerrar Sesión</span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div *ngIf="isMobileMenu()">
		
	</div>
	<ul class="nav">
		<li routerLinkActive="active" *ngFor="let menuitem of menuItems" class="nav-item">
			<!--If is a single link-->
			<a [routerLink]="[menuitem.path]" *ngIf="menuitem.type === 'link'" class="nav-link">
				<i class="material-icons">{{menuitem.icontype}}</i>
				<p>{{menuitem.title}}</p>
			</a>
		</li>
	</ul>

</div>