<div class="wrapper wrapper-full-page">
	<div class="page-header register-page header-filter" filter-color="black"
		style="background-image: url('./assets/img/register.jpg'); background-size: cover; background-position: top center;">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-8">
					<div class="card card-signup">
						<h2 class="card-title text-center">Regístrate</h2>
						<div class="card-body">
							<div class="social text-center">
								<h4 class="mt-3">Conoce los beneficios que tenemos para ti solo con registrarte </h4>
							</div>
							<form ngNativeValidate #registrarClienteForm="ngForm"
								(ngSubmit)="onSubmitRegistrarse(registrarClienteForm)" class="form" autocomplete="off">
								<div class="card-body">
									<div class="row justify-content-center">
										<div class="col-md-6 text-center">

											<span class="form-group has-default">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<i class="material-icons">home</i>
														</span>
													</div>
													<select [compareWith]="compararDato" class="form-control" placeholder="Tipo Documento"
														name="tipoDocumento" id="tipoDocumento" #tipoDocumento="ngModel"
														[(ngModel)]="registroCliente.tipoDocumento" required>
														<option value="">Tipo de Documento</option>
														<option *ngFor="let tipo of tipoDocArray" [value]="tipo.valor">
															{{ tipo.nombre }}
														</option>
													</select>
												</div>
											</span>
											<span class="form-group has-default">
												<div class="input-group">
													<span class="input-group-text">
														<span>&nbsp; &nbsp; &nbsp; &nbsp;</span>
													</span>
													<small class="text-danger"
														*ngIf="!tipoDocumento.valid && tipoDocumento.touched">El campo
														no es <strong>válido</strong></small>
												</div>
											</span>

										</div>
										<div class="col-md-6 text-center">
											<div class="form-group has-default">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<i class="material-icons">pin</i>
														</span>
													</div>
													<input type="text" class="form-control" placeholder="Documento"
														name="documento" id="documento" #documento="ngModel"
														[(ngModel)]="registroCliente.documento" required>
												</div>
											</div>
											<div class="">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<span>&nbsp;&nbsp;&nbsp;</span>
														</span>
													</div>
													<small class="text-danger"
														*ngIf="!documento.valid && documento.touched">
														El campo documento es <strong>requerido</strong>
													</small>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-6 text-center">
											<div class="form-group has-default">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<i class="material-icons">face</i>
														</span>
													</div>
													<input type="text" class="form-control" placeholder="Nombres"
														name="nombres" id="nombres" #nombres="ngModel"
														[(ngModel)]="registroCliente.nombres" required>
												</div>
											</div>
											<div class="">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<span>&nbsp;&nbsp;&nbsp;</span>
														</span>
													</div>
													<small class="text-danger"
														*ngIf="!nombres.valid && nombres.touched">
														El campo nombres es <strong>requerido</strong>
													</small>
												</div>
											</div>
										</div>
										<div class="col-md-6 text-center">
											<div class="form-group has-default">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<i class="material-icons">record_voice_over</i>
														</span>
													</div>
													<input type="text" class="form-control" placeholder="Apellidos"
														name="apellidos" id="apellidos" #apellidos="ngModel"
														[(ngModel)]="registroCliente.apellidos" required>
												</div>
											</div>
											<div class="">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<span>&nbsp;&nbsp;&nbsp;</span>
														</span>
													</div>
													<small class="text-danger"
														*ngIf="!apellidos.valid && apellidos.touched">
														El campo apellidos es <strong>requerido</strong>
													</small>
												</div>
											</div>
										</div>
									</div>
									<div class="row justify-content-center">
										<div class="col-md-6 text-center">
											<div class="form-group has-default">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<i class="material-icons">mail</i>
														</span>
													</div>
													<input type="email" class="form-control" placeholder="Correo"
														name="correo" id="correo" #correo="ngModel"
														[(ngModel)]="registroCliente.correo"
														pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
												</div>
											</div>
											<div class="">
												<div class="input-group">
													<div class="input-group-prepend">
														<span class="input-group-text">
															<span>&nbsp;&nbsp;&nbsp;</span>
														</span>
													</div>
													<small class="text-danger" *ngIf="!correo.valid && correo.touched">
														El campo correo es <strong>requerido</strong>
													</small>
												</div>
											</div>
										</div>
										<div class="col-md-6 text-left">
											<div class="form-check">
												<label class="form-check-label">
													<input class="form-check-input" id="terminosCondiciones"
														type="checkbox" (change)="checkTerminos($event)">
													<span class="form-check-sign">
														<span class="check"></span>
													</span>
													Acepto los <a href="#something" data-toggle="modal"
														data-target="#modalAceptarTerminos">terminos y condiciones</a>.
													Más información sobre nuestra Política de Tratamiento de Datos
													Personales
													en el siguiente link: <a href="/#" target="_blank"
														rel="noopener noreferrer">Política de Tratamiento de Datos
														Personales</a>
												</label>
											</div>
										</div>
									</div>
								</div>
								<div class="card-footer justify-content-center">
									<button type="submit" class="btn btn-primary btn-lg"
										[disabled]="registrarClienteForm.invalid">Registrarse</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<footer class="footer ">
			<div class="container">
				<div class="copyright pull-left">
					&copy; {{test | date: 'yyyy'}}, Desarrollado por: <i class="material-icons">directions_car</i> OL
					Gaviria SCS
				</div>
				<div class="copyright pull-right">
					<i class="material-icons">biotech</i> {{version}}
				</div>
			</div>
		</footer>
	</div>
</div>

<div class="modal fade" id="modalAceptarTerminos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
	aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title">Terminos y condiciones Servicios Autodenar Box</h4>
				<button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					<i class="material-icons">clear</i>
				</button>
			</div>
			<div class="modal-body">
				<p>
					Al registrarse autoriza a <a href="https://www.autodenar.com/" target="_blank">Autodenar S.A</a>
					para usar los datos con fines comerciales, para enviarle información a su correo o llamarlo para
					brindarle información de nuestros productos y servicios.
				</p>
			</div>
			<div class="modal-footer">
				<button mat-raised-button type="button" class="btn btn-optimus-green mr-1"
					data-dismiss="modal">Rechazar</button>
				<button mat-raised-button type="button" class="btn btn-optimus-black ml-1"
					(click)="aceptarAcuerdo()">Aceptar</button>
			</div>
		</div>
	</div>
</div>