<!-- <app-loading *ngIf="loading"></app-loading> -->

<div class="wrapper wrapper-full-page">
	<div class="container">
		<div class="col-md-12 ml-auto mr-auto text-center mt-3">
			<div class="row">
				<h1 class="mt-5">Por tu seguridad hemos cambiado tu contraseña</h1>
			</div>
		</div>
	</div>
</div>