<div class=" container-fluid class-loading">
    <div class=" container-fluid col bg-loading">
        <div class="col-md-12">

            <div class="sk-folding-cube">
                <div class="sk-cube1 sk-cube"></div>
                <div class="sk-cube2 sk-cube"></div>
                <div class="sk-cube4 sk-cube"></div>
                <div class="sk-cube3 sk-cube"></div>
            </div>
            <hr>

            <div class="d-none d-sm-block d-md-block d-lg-block ">
                <h2 class="text-center font-loading"
                    style="background: #212221 !important; border-radius: 50px; padding: 10px 0; color: #FFF !important;">
                    El sistema se esta reconfigurando.<br><br>Esto tomará unos segundos. Espere un momento por
                    favor...
                </h2>
            </div>
            <div class="d-block d-sm-none d-md-none d-lg-none">
                <h3 class="text-center text-break" style="color: #FFF !important;">
                    El sistema se esta reconfigurando.<br><br>Esto tomará unos segundos. Espere un momento por
                    favor...
                </h3>
            </div>
        </div>
    </div>
</div>