<app-loading-sistema *ngIf="cargaLoading"></app-loading-sistema>

<ng-container [ngSwitch]="rolUsuario">
	
	<div *ngSwitchCase="'A'">
		<!-- PANEL PARA ADMINISTRADOR -->
		<app-dashboard-cliente></app-dashboard-cliente>
		<!-- FIN PANEL PARA ADMINISTRADOR -->
	</div>
	
	<div *ngSwitchDefault>
		<!-- PANEL PARA EL SISTEMA -->
		<app-dashboard-cliente></app-dashboard-cliente>
		<!-- FIN PANEL PARA EL SISTEMA -->
	</div>

</ng-container>