<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-10">
				<h2 class="font-weight-bolder text-break text-center mb-5">LISTADO DE PARAMETRIZACIONES</h2>
				<p class="mb-4 mb-md-5">Por favor ingrese las parametrizaciones del sistema. Recuerde que esta sección
					es usada para los datos que se pueden agrupar o tipificar para posteriormente ser usados en
					formualarios</p>
			</div>
		</div>
		<div class="row justify-content-end mb-3 mb-md-3">
			<div class="col-md-6 text-md-right text-center">
				<button type="button" class="btn btn-black" (click)="crearParametro()"
					matTooltip="Crear nueva categoría" [matTooltipPosition]="'below'">
					<i class="material-icons">add_circle_outline</i> Nuevo
				</button>
			</div>
		</div>

		<div class="card my-0">
			<div id="accordion" role="tablist">
				<div class="card-collapse card-optimus m-0">
					<div class="card-header" role="tab" id="headingOne">
						<h4 class="mx-4">
							<a data-toggle="collapse" href="#collapseOne" aria-expanded="false"
								aria-controls="collapseOne" class="collapsed text-white text-uppercase">
								<span class="material-icons md-48">search</span> Buscar por Filtros
								<i class="material-icons">keyboard_arrow_down</i>
							</a>
						</h4>
					</div>
					<div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne"
						data-parent="#accordion">
						<div class="card-body">
							<p class="text-center my-2 text-silver d-flex pb-2 mx-3">
								<span class="material-icons text-silver p-1 ml-auto" matTooltip="Ayuda"
									[matTooltipPosition]="'below'">help</span>
								<span class="py-1 mr-auto">Realice la búsqueda por categorias o por nombre de
									parametrizaciones.</span>
							</p>

							<div class="row justify-content-center mt-1 text-center">
								<div class="col-md-6 text-center mb-2">
									<form class="mt-3" ngNativeValidate #datosParametrizacionForm="ngForm"
										(ngSubmit)="onSubmitBuscarParametrizacionPorNombre(1)" autocomplete="off">
										<div class="row justify-content-center">
											<div class="col-sm-10 mb-2">
												<input type="text" class="form-control" placeholder="Nombre"
													name="nombre" id="nombre" #nombre="ngModel"
													[(ngModel)]="busquedaCategorias.nombre" required>
												<small class="text-danger" *ngIf="!nombre.valid && nombre.touched">
													El nombre no es <strong>válido</strong>
												</small>
											</div>
										</div>
										<div class="container">
											<div class="row justify-content-center">
												<div class="col-md-10 text-center my-3">
													<button mat-raised-button class="btn btn-fill btn-optimus-black"
														[disabled]="!busquedaCategorias.nombre">
														<i class="material-icons">search</i> Consultar
													</button>
												</div>
											</div>
										</div>
									</form>
								</div>
								<div class="col-md-6 text-center mb-2">
									<div class="row justify-content-center pt-3">
										<div class="col-md-10 text-left mb-2">
											<input type="text" class="form-control" placeholder="Categoría"
												name="categoria" #categoria="ngModel"
												[(ngModel)]="busquedaCategorias.categoria" id="categoria"
												(keyup)="filtroCategorias($event)" (click)="selectListCategorias()"
												required>
											<div id="myDropdown" class="dropdown-content scrollCategorias">
												<a *ngFor="let item of categoriasArray"
													(click)="seleccionarCategorias(item)" class="pointer">{{item}}</a>
											</div>
											<small class="text-danger" *ngIf="!categoria.valid && categoria.touched">
												El campo categoría no es <strong>válido</strong>
											</small>
										</div>
									</div>
									<div class="container">
										<div class="row justify-content-center">
											<div class="col-md-10 text-center my-3">
												<button mat-raised-button class="btn btn-fill btn-optimus-green"
													type="button" (click)="limpiarFiltros()">
													<i class="material-icons">search</i> Limpiar filtros
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left">{{row?.nombre}}</td>
											<td class="text-center">{{row?.valor}}</td>
											<td class="text-center">{{row?.categoria}}</td>
											<td class="text-justify">{{row?.descripcion}}</td>
											<td class="text-center">
												<ng-container [ngSwitch]="permisoRol">

													<div *ngSwitchCase="'A'">
														<button class="btn btn-link btn-warning btn-just-icon edit"
															matTooltip="Editar Categoria" [matTooltipPosition]="'below'"
															(click)="editarParametro(row)">
															<i class="material-icons">edit</i>
														</button>
													</div>

													<div *ngSwitchCase="'DT'">

														<ng-container *ngIf="row?.editable; else bloqueEdicion">
															<button class="btn btn-link btn-optimus-green btn-just-icon edit"
																matTooltip="Editar Categoria"
																[matTooltipPosition]="'below'"
																(click)="editarParametro(row)">
																<i class="material-icons">edit</i>
															</button>
														</ng-container>
														<ng-template #bloqueEdicion>
															<button
																class="btn btn-link btn-optimus-green btn-just-icon not_interested"
																matTooltip="No Editable" [matTooltipPosition]="'below'">
																<i class="material-icons">not_interested</i>
															</button>
														</ng-template>

													</div>

													<div *ngSwitchDefault>
														<button
															class="btn btn-link btn-optimus-green btn-just-icon not_interested"
															matTooltip="No Editable" [matTooltipPosition]="'below'">
															<i class="material-icons">not_interested</i>
														</button>
													</div>

												</ng-container>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="6" class="text-center">
												<ng-container
													*ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<ng-container [ngSwitch]="estadoPaginador">
												<ng-container *ngSwitchCase="'filtroCategorias'">
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active"
															matTooltip="Primera página" [matTooltipPosition]="'below'"
															(click)="onSubmitBuscarCategoriaParametrizacion(1)">
															<i class="material-icons">first_page</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Atrás"
															[matTooltipPosition]="'below'"
															(click)="onSubmitBuscarCategoriaParametrizacion(+page_prev)">
															<i class="material-icons">navigate_before</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Siguiente"
															[matTooltipPosition]="'below'"
															(click)="onSubmitBuscarCategoriaParametrizacion(+page_next)">
															<i class="material-icons">navigate_next</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active"
															matTooltip="Última página" [matTooltipPosition]="'below'"
															(click)="onSubmitBuscarCategoriaParametrizacion(+total_pages)">
															<i class="material-icons">last_page</i>
														</a>
													</li>
												</ng-container>
												<ng-container *ngSwitchCase="'filtroCategoriasNombre'">
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active"
															matTooltip="Primera página" [matTooltipPosition]="'below'"
															(click)="onSubmitBuscarParametrizacionPorNombre(1)">
															<i class="material-icons">first_page</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Atrás"
															[matTooltipPosition]="'below'"
															(click)="onSubmitBuscarParametrizacionPorNombre(page_prev)">
															<i class="material-icons">navigate_before</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Siguiente"
															[matTooltipPosition]="'below'"
															(click)="onSubmitBuscarParametrizacionPorNombre(page_next)">
															<i class="material-icons">navigate_next</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active"
															matTooltip="Última página" [matTooltipPosition]="'below'"
															(click)="onSubmitBuscarParametrizacionPorNombre(total_pages)">
															<i class="material-icons">last_page</i>
														</a>
													</li>
												</ng-container>
												<ng-container *ngSwitchDefault>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active"
															matTooltip="Primera página" [matTooltipPosition]="'below'"
															(click)="listarDatosParametrizacion(1)">
															<i class="material-icons">first_page</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Atrás"
															[matTooltipPosition]="'below'"
															(click)="listarDatosParametrizacion(page_prev)">
															<i class="material-icons">navigate_before</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active" matTooltip="Siguiente"
															[matTooltipPosition]="'below'"
															(click)="listarDatosParametrizacion(page_next)">
															<i class="material-icons">navigate_next</i>
														</a>
													</li>
													<li class="page-item pointer">
														<a routerLinkActive="router-link-active"
															matTooltip="Última página" [matTooltipPosition]="'below'"
															(click)="listarDatosParametrizacion(total_pages)">
															<i class="material-icons">last_page</i>
														</a>
													</li>
												</ng-container>
											</ng-container>
										</ul>
									</nav>
								</div>
							</div>
						</div>
						<!-- end content-->
					</div>
					<!--  end card  -->
				</div>
			</div>
			<!-- end col-md-12 -->
		</div>
		<!-- end row -->
	</div>
</div>

<!-- Modal Actualizar Parametrizacion -->
<div class="modal fade bg-modal" id="modalActualizarParametrizacion" tabindex="-1" role="dialog"
	aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header color-header">
				<h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Descripción Detallada</h3>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">

				<form class="mt-3" ngNativeValidate #actualizarParametrizacionForm="ngForm"
					(ngSubmit)="onSubmitActualizarParametrizacion(actualizarParametrizacionForm)" autocomplete="off">
					<div class="card-body ">
						<div class="row justify-content-center mt-3 py-1">
							<div class="col-sm-5 mb-2">
								<input type="text" class="form-control" placeholder="Nombre" name="nombreParametro"
									id="nombreParametro" #nombreParametro="ngModel" [(ngModel)]="parametros.nombre"
									required>
								<small class="text-danger" *ngIf="!nombreParametro.valid && nombreParametro.touched">
									El nombre no es <strong>válido</strong>
								</small>
							</div>
							<div class="col-sm-5 mb-2">
								<input type="text" class="form-control" placeholder="Valor" name="valorParametro"
									id="valorParametro" #valorParametro="ngModel" [(ngModel)]="parametros.valor"
									required>
								<small class="text-danger" *ngIf="!valorParametro.valid && valorParametro.touched">
									El valor no es <strong>válido</strong>
								</small>
							</div>
						</div>
						<div class="row justify-content-center my-3 pt-md-3 pt-2">
							<div class="col-sm-5 mb-2">
								<input type="text" class="form-control" placeholder="Categoría"
									name="categoriaParametro" #categoriaParametro="ngModel"
									[(ngModel)]="parametros.categoria" id="categoriaParametro"
									(keyup)="filtroCategoriasParametro($event)"
									(click)="selectListCategoriasParametro()" required>
								<div id="myDropdownParametro"
									class="dropdown-content-parametro scrollCategoriasParametro">
									<a *ngFor="let item of categoriasArray"
										(click)="seleccionarCategoriasParametro(item)" class="pointer">{{item}}</a>
								</div>
								<small class="text-danger"
									*ngIf="!categoriaParametro.valid && categoriaParametro.touched">
									La categoría no es <strong>válido</strong>
								</small>
							</div>
							<div class="col-sm-5 mb-2">
								<textarea class="form-control" placeholder="Descripción" name="descripcionParametro"
									id="descripcionParametro" #descripcionParametro="ngModel"
									[(ngModel)]="parametros.descripcion"></textarea>
							</div>
						</div>
					</div>
					<div class="container">
						<div class="row justify-content-center">
							<div class="col-md-6 text-center my-3">
								<button mat-raised-button [disabled]="actualizarParametrizacionForm.invalid"
									class="btn btn-optimus-black">Actualizar</button>
							</div>
						</div>
					</div>
				</form>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
			</div>
		</div>
	</div>
</div>
<!-- Modal Actualizar Parametrizacion -->