<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<h2 class="text-center bold mb-5">GESTIÓN DE USUARIOS</h2>
	</div>

	<div class="container-fluid">
		<div class="row justify-content-end mb-3 mb-md-3">
			<div class="col-md-6 text-md-right text-center">
				<button type="button" class="btn btn-optimus-black" (click)="crearUsuario()"
					matTooltip="Agregar Usuario" [matTooltipPosition]="'below'">
					<i class="material-icons">add_circle_outline</i> Nuevo
				</button>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<div class="mat-elevation-z8">
					<div class="card">
						<div class="card-body m-0 p-0">
							<div class="table-responsive">
								<table class="table table-hover table-bordered table-optimus">
									<thead>
										<tr>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[7] }}
											</th>
											<th class="text-center text-white" scope="col">{{ dataTable.headerRow[8] }}
											</th>
										</tr>
									</thead>
									<tbody>
										<tr *ngFor="let row of dataTable.dataRows; let i=index">
											<th scope="row" class="text-center">{{i+1}}</th>
											<td class="text-left"><strong>{{row?.tipoDoc}}: </strong>{{row?.documento}}
											</td>
											<td class="text-left">{{row?.nombres | uppercase}}</td>
											<td class="text-center">{{row?.usuario}}</td>
											<td class="text-center">{{row?.rol}}</td>
											<td class="text-center">{{row?.correo}}</td>
											<td class="text-center">{{row?.fechaExp === '- - -' ? '- - -' : row?.fechaExp | date: "shortDate"}}</td>
											<td class="text-center">{{row?.estadoNombre}}</td>
											<td class="text-center">
												<button class="btn btn-link btn-warning btn-just-icon edit"
													data-toggle="modal" matTooltip="Actualizar Usuario"
													[matTooltipPosition]="'below'" (click)="buscarIdUsuario(row?.id)">
													<i class="material-icons">edit</i>
												</button>
											</td>
										</tr>
										<tr *ngIf="(dataTable.dataRows.length === 0)">
											<td colspan="9" class="text-center">
												<ng-container
													*ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
													No hay datos para mostrar
												</ng-container>
												<ng-template #bloqueCargaDatosRCA>
													<app-loading-spinner></app-loading-spinner>
												</ng-template>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>
						<div class="container text-muted">
							<div class="row justify-content-center">
								<div class="col-md-7">
									<div
										class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
										Total Registros: {{total_item_count}}
									</div>
								</div>
								<div class="col-md-4 text-center text-silver">
									<nav aria-label="..." class="align-items-center">
										<ul class="pagination align-items-center">
											<li class="page-item">
												<p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Primera página"
													[matTooltipPosition]="'below'"
													(click)="listarUsuarios(1)">
													<i class="material-icons">first_page</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Atrás"
													[matTooltipPosition]="'below'"
													(click)="listarUsuarios(page_prev)">
													<i class="material-icons">navigate_before</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Siguiente"
													[matTooltipPosition]="'below'"
													(click)="listarUsuarios(page_next)">
													<i class="material-icons">navigate_next</i>
												</a>
											</li>
											<li class="page-item pointer">
												<a routerLinkActive="router-link-active" matTooltip="Última página"
													[matTooltipPosition]="'below'"
													(click)="listarUsuarios(total_pages)">
													<i class="material-icons">last_page</i>
												</a>
											</li>

										</ul>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>