



.color-icono1 > span {
  padding: 13px;
  border-radius: 10px;
  background: linear-gradient(60deg, #ffa726, #fb8c00);
  color: #fff !important;
}

.color-icono1 span {
  font-size: 1.2em;
  color: #3C4858;
}