<app-loading *ngIf="loading"></app-loading>
<div class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2 class="font-weight-bolder text-break text-center mb-5">LISTA DE PERMISOS</h2>
                <!--<p class="mb-4 mb-md-5">Listado de permisos asignados a roles</p>-->
            </div>
        </div>
        <div class="row justify-content-end mb-3 mb-md-3">
            <div class="col-md-6 text-md-right text-center">
                <button type="button" class="btn btn-black mr-md-1" (click)="crearPermisos()" matTooltip="Nueva Ruta"
                    [matTooltipPosition]="'below'">
                    <i class="material-icons">add_circle_outline</i> Nueva ruta
                    <!-- <i class="material-icons">view_list</i> -->
                </button>
                <button type="button" class="btn btn-black ml-md-1" (click)="crearPermisosRoles()"
                    matTooltip="Asignar Permisos" [matTooltipPosition]="'below'">
                    <i class="material-icons">add_circle_outline</i> Asignar permisos
                    <!-- <i class="material-icons">assignment_ind</i> -->
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="mat-elevation-z8">
                    <div class="card">
                        <div class="card-body m-0 p-0">
                            <div class="table-responsive">
                                <table class="table table-hover table-bordered table-optimus">
                                    <thead>
                                        <tr>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[0] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[1] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[2] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[3] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[4] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[5] }}
                                            </th>
                                            <th class="text-center text-white" scope="col">{{ dataTable.headerRow[6] }}
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of dataTable.dataRows; let i=index">
                                            <th scope="row" class="text-center">{{i+1}}</th>
                                            <td class="text-center">{{row?.titulo}}</td>
                                            <td class="text-left">{{row?.url}}</td>
                                            <td class="text-center">{{row?.posicion}}</td>
                                            <td class="text-center">{{row?.icono}}</td>
                                            <td class="text-center">{{row?.sistema}}</td>
                                            <td class="text-center" class="text-center">
                                                <button class="btn btn-link btn-optimus-green btn-just-icon edit"
                                                    (click)="editarPermisos(row)" data-toggle="modal">
                                                    <i class="material-icons">edit</i>
                                                </button>
                                            </td>
                                        </tr>
                                        <tr *ngIf="(dataTable.dataRows.length === 0)">
                                            <td colspan="7" class="text-center">
                                                <ng-container *ngIf="consultaVaciaCargarSpinner; else bloqueCargaDatosRCA">
                                                    No hay datos para mostrar
                                                </ng-container>
                                                <ng-template #bloqueCargaDatosRCA>
                                                    <app-loading-spinner></app-loading-spinner>
                                                </ng-template>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="container text-white">
                            <div class="row justify-content-center">
                                <div class="col-md-7">
                                    <div
                                        class="pt-2 ml-0 ml-sm-3 ml-md-3 ml-lg-3 text-center text-sm-left text-md-left text-lg-left text-silver">
                                        Total Registros: {{total_item_count}}
                                    </div>
                                </div>
                                <div class="col-md-4 text-center text-silver">
                                    <nav aria-label="..." class="align-items-center">
                                        <ul class="pagination align-items-center">
                                            <li class="page-item">
                                                <p class="mx-4 my-2">Página {{page_actual}} de {{total_pages}}</p>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Primera página"
                                                    [matTooltipPosition]="'below'" (click)="listarRolesPermisos(1)">
                                                    <i class="material-icons">first_page</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Atrás"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarRolesPermisos(page_prev)">
                                                    <i class="material-icons">navigate_before</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Siguiente"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarRolesPermisos(page_next)">
                                                    <i class="material-icons">navigate_next</i>
                                                </a>
                                            </li>
                                            <li class="page-item pointer">
                                                <a routerLinkActive="router-link-active" matTooltip="Última página"
                                                    [matTooltipPosition]="'below'"
                                                    (click)="listarRolesPermisos(total_pages)">
                                                    <i class="material-icons">last_page</i>
                                                </a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>

<!-- Modal modificar permisos -->
<div class="modal fade bg-modal" id="modalActualizar" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div>
                <!-- Modificar permisos -->
                <div class="modal-header color-header">
                    <h3 class="modal-title mt-0 mb-3" id="exampleModalLongTitle">Actualizar Permiso</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="mt-3" ngNativeValidate [formGroup]="actualizarPermisoRolForm"
                        (ngSubmit)="onSubmitActualizarPermisoRol()" autocomplete="off">
                        <div class="card-body ">
                            <div class="row justify-content-center">
                                <div class="col-sm-6 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Nombre permiso" type="text"
                                            formControlName="titulo" name="titulo" required>
                                        <mat-error *ngIf="actualizarPermisoRolForm.get('titulo').hasError('required')">
                                            El campo
                                            Nombre Permiso es <strong>requerido</strong></mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Url" type="text" name="url" formControlName="url"
                                            required>
                                        <mat-error *ngIf="actualizarPermisoRolForm.get('url').hasError('required')">El
                                            campo url
                                            es <strong>requerido</strong></mat-error>
                                        <mat-error *ngIf="actualizarPermisoRolForm.get('url').hasError('pattern')">La
                                            url debe
                                            tener el siguiente formato <strong>Ejm: ruta-ruta</strong></mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <input matInput placeholder="Icono" type="text" name="icono" id="icono"
                                            formControlName="icono" required>
                                        <mat-error *ngIf="actualizarPermisoRolForm.get('icono').hasError('required')">El
                                            campo
                                            Icono es <strong>requerido</strong></mat-error>
                                    </mat-form-field>
                                </div>
                                <div class="col-sm-6 mb-2">
                                    <mat-form-field>
                                        <mat-select [compareWith]="compararDato" placeholder="Posición del menú"
                                            name="permisoId" formControlName="posicion" required>
                                            <mat-option *ngFor="let item of permisosExistentes" [value]="item.posicion">
                                                {{ item.titulo }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error
                                            *ngIf="actualizarPermisoRolForm.get('posicion').hasError('required')">
                                            El posición es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row justify-content-center">
                                <div class="col-sm-6 mb-2">
                                    <mat-form-field class="example-full-width">
                                        <mat-select [compareWith]="compararDato" placeholder="Sistema" name="sistema"
                                            formControlName="sistema" required>
                                            <mat-option *ngFor="let item of sistemaArray" [value]="item">
                                                {{ item }}
                                            </mat-option>
                                        </mat-select>
                                        <mat-error *ngIf="actualizarPermisoRolForm.get('sistema').hasError('required')">
                                            El campo sistema es <strong>requerido</strong>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                            </div>
                        </div>
                        <div class="container">
                            <div class="row justify-content-center">
                                <div class="col-md-6 text-center mt-3">
                                    <button mat-raised-button [disabled]="actualizarPermisoRolForm.invalid"
                                        class="btn btn-fill btn-optimus-black">Guardar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-optimus-green" data-dismiss="modal">Cancelar</button>
            </div>
        </div>
    </div>
</div>
<!-- Modal modificar permisos -->