<app-loading *ngIf="loading"></app-loading>

<div class="main-content pt-0">
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-md-12 text-center text-md-left pb-md-4 pb-3">
				<button mat-raised-button class="btn btn-link btn-round ml-1" (click)="regresar()">
					<i class="material-icons">arrow_back</i> Regresar
				</button>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="card card-optimus py-1">
					<div class="card-header">
						<h4 class="card-title d-flex">
							<i class="material-icons p-1">view_list</i>
							<span class="py-1 text-uppercase">Crear Categorías</span>
						</h4>
					</div>
					<form class="mt-3" ngNativeValidate #datosParametrizacionForm="ngForm" (ngSubmit)="onSubmitCrearParametrizacion(datosParametrizacionForm)" autocomplete="off">
						<div class="card-body ">
							<div class="row justify-content-center mt-3 py-1">
                                <div class="col-sm-5 mb-2">
									<input type="text" class="form-control" placeholder="Nombre" name="nombre" #nombre="ngModel" [(ngModel)]="parametros.nombre" required>
									<small class="text-danger" *ngIf="!nombre.valid && nombre.touched">
										El nombre no es <strong>válido</strong>
									</small>
								</div>
                                <div class="col-sm-5 mb-2">
									<input type="text" class="form-control" placeholder="Valor" name="valor" #valor="ngModel" [(ngModel)]="parametros.valor" required>
									<small class="text-danger" *ngIf="!valor.valid && valor.touched">
										El valor no es <strong>válido</strong>
									</small>
								</div>
							</div>
							<div class="row justify-content-center my-3 pt-md-3 pt-2">
								<ng-container *ngIf="(permisoRol == 'A'); else bloqueSelectArray">
									<div class="col-sm-5 mb-2">
										<input type="text" class="form-control" placeholder="Categoría" name="categoria" #categoria="ngModel" [(ngModel)]="parametros.categoria" id="categoria" (keyup)="filtroCategorias($event)" (click)="selectListCategorias()" required>
										<div id="myDropdown" class="dropdown-content scrollCategorias">
											<a *ngFor="let item of categoriasArray" (click)="seleccionarCategorias(item.categoria)" class="pointer">{{item.categoria}}</a>
										</div>
										<small class="text-danger" *ngIf="!categoria.valid && categoria.touched">
											La categoría no es <strong>válido</strong>
										</small>
									</div>
								</ng-container>
								<ng-template #bloqueSelectArray>
									<div class="col-sm-5 mb-2">
										<mat-form-field>
											<mat-select [compareWith]="compararDato" placeholder="Categoria" name="categoria" #categoria="ngModel" [(ngModel)]="parametros.categoria" required>
												<mat-option *ngFor="let tipo of categoriasArray" [value]="tipo.categoria">
													{{ tipo.categoria }}
												</mat-option>
											</mat-select>
											<small class="text-danger" *ngIf="!categoria.valid && categoria.touched">
												La categoría no es <strong>válido</strong>
											</small>
										</mat-form-field>
									</div>
								</ng-template>
                                <div class="col-sm-5 mb-2">
									<textarea class="form-control" placeholder="Descripción" name="descripcion" #descripcion="ngModel" [(ngModel)]="parametros.descripcion"></textarea>
								</div>
							</div>
						</div>
						<div class="container">
							<div class="row justify-content-center">
								<div class="col-md-6 text-center my-3">
									<button mat-raised-button [disabled]="datosParametrizacionForm.invalid" class="btn btn-optimus-black">Registrar</button>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>